@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight {
  position: relative;
}

.highlight::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: rgba(254, 254, 239);

  transform: rotate(-1.5deg);
  top: -1px;
  left: -1px;
  border-radius: 25% 30% 35% 24%;
  padding: 10px 3     px 3px 10px;
  z-index: 0;
}

.mark {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}



.t1, .t2, .t3 {
  /* display: block; */
  position: relative;
  padding: 0.2em 0;
}


.t2::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6F6320;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}
.t2:hover::before {
  transform: scaleX(1);
}